<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GitHubClientID</key>
	<string>$(GITHUB_CLIENT_ID)</string>
	<key>OAuthProxyURL</key>
	<string>$(OAUTH_PROXY_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.moo.Gitivity</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gitivity</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
